body {
     font-family: 'Merriweather', serif;
}

.header-bar {
    background-color: #3b5360;
    height: 50px;
    width: 100%;
    margin: 0px;
    color: #dfe0df;
    position: relative;
    align-items: center;
    display: flex;
}

.logo:hover {
    cursor: pointer;
    color: white;
}

.about:hover {
    cursor: pointer;
    color: white;
}

.works:hover {
    cursor: pointer;
    color: white;
}



.logo {
    padding-left: 30px;
}

.about {
    padding-left: 1000px;
}

.works {
    padding-left: 25px;
}



.myTitle {
     font-family: 'Sacramento',cursive;
      font-size: 5.625rem;
}


.profile {
    width: 15%;
}

.profile-header {
    text-align: center;
    background-color: #fdffbc;
    /* margin: 50px 25px 50px 25px; */
    padding: 50px 25px 50px 25px;
}


.mySkills {
    text-align: center;
    background-color: #dfe0df;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}

.tick1,
.tick2,
.tick3,
.tick4,
.tick5,
.tick6 {
    position: relative;
    display: flex;
}

.myProjectNames {
    position: relative;
    display: flex;
}

hr {
      background-color: #23120b;
      border-style: none;
      width: 50%;
      height: 2px;
}



.myProjects {
    text-align: center;
    background-color: #cae4db;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}

.social-media {
    text-align: center;
    
}






.footer {
    text-align: center;
}






