body {
     font-family: 'Merriweather', serif;
}

.header-bar {
    background-color: #3b5360;
    height: 50px;
    width: 100%;
    margin: 0px;
    color: #dfe0df;
    position: relative;
    align-items: center;
    display: flex;
}

.logo:hover {
    cursor: pointer;
    color: white;
}

.about:hover {
    cursor: pointer;
    color: white;
}

.works:hover {
    cursor: pointer;
    color: white;
}



.logo {
    padding-left: 30px;
}

.about {
    padding-left: 1000px;
}

.works {
    padding-left: 25px;
}



.myTitle {
     font-family: 'Sacramento',cursive;
      font-size: 5.625rem;
}


.profile {
    width: 15%;
}

.profile-header {
    text-align: center;
    background-color: #fdffbc;
    /* margin: 50px 25px 50px 25px; */
    padding: 50px 25px 50px 25px;
}


.mySkills {
    text-align: center;
    background-color: #dfe0df;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}

.tick1,
.tick2,
.tick3,
.tick4,
.tick5,
.tick6 {
    position: relative;
    display: flex;
}

.myProjectNames {
    position: relative;
    display: flex;
}

hr {
      background-color: #23120b;
      border-style: none;
      width: 50%;
      height: 2px;
}



.myProjects {
    text-align: center;
    background-color: #cae4db;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}

.social-media {
    text-align: center;
    
}

.media {
    background: #F63D3D;
    background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
    background-image: -moz-linear-gradient(top, #F63D3D, #811616);
    background-image: -ms-linear-gradient(top, #F63D3D, #811616);
    background-image: -o-linear-gradient(top, #F63D3D, #811616);
    background-image: linear-gradient(to bottom, #F63D3D, #811616);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    box-shadow: 1px 1px 6px 0px #000000;
    -webkit-box-shadow: 1px 1px 6px 0px #000000;
    -moz-box-shadow: 1px 1px 6px 0px #000000;
    text-shadow: 1px 1px 6px #000000;
    border: solid #762C2C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.media:hover {
    border: solid #ED3333 1px;
    background: #811616;
    background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
    background-image: -moz-linear-gradient(top, #811616, #F63D3D);
    background-image: -ms-linear-gradient(top, #811616, #F63D3D);
    background-image: -o-linear-gradient(top, #811616, #F63D3D);
    background-image: linear-gradient(to bottom, #811616, #F63D3D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}





.footer {
    text-align: center;
}






