.profile {
    width: 15%;
}

.profile-header {
    text-align: center;
    background-color: #fdffbc;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}


.mySkills {
    text-align: center;
    background-color: #dfe0df;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}



.mongoDB,
.express,
.react,
.nodeJS {
    display: flex;
}

.btm-chat,
.btm-commerce,
.social-site,
.btm-ticktock {
    display: flex;
}

.myProjects {
    text-align: center;
    background-color: #cae4db;
    margin: 50px 25px 50px 25px;
    padding: 50px 25px 50px 25px;
}

.footer {
    text-align: center;
}






